.title {
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  margin: 70px 0;
  letter-spacing: 2px;
  padding: 10px;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background: #ccc;
}

.title::before {
  left: calc(50% - 300px);
}

.title::after {
  right: calc(50% - 300px);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  /* min-height: 70vh; */
}

.contactContent {
  display: flex;
  min-width: 1000px;
  gap: 20px;
}

.contactInfo {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactForm {
  width: 100%;
  padding: 20px;
}

.contactInfo h2,
.contactForm h2 {
  font-size: 1.5rem;
  color: #868686;
  margin-bottom: 10px;
}

.contactInfo p {
  color: #aaa;
}

form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  background: transparent;
  border: 2px solid #868686;
  font-family: "Space Grotesk";
  color: #868686;
}

form input:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .contactContent {
    flex-direction: column;
    min-width: 100%;
    padding: 60px;
  }

  .contactInfo {
    border-bottom: 2px solid #fef7ff;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .profileLinks {
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 702px) {
  .contactContent {
    padding: 20px;
  }

  .contactInfo {
    flex-direction: column;
  }

  .profileLinks {
    flex-direction: row;
  }

  .contactTextInfo p {
    font-size: 0.9rem;
  }
}

.container {
  max-width: 100%;
}

.contactItem {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  transition: all ease 0.3s;
}

.contactItemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactTextInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  white-space-collapse: collapse;
}

.profileLinks {
  display: flex;
  gap: 10px;
  font-weight: 700;
}

.profileItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  transition: background-color ease 0.5s;
  border-radius: 5px;
}

.profileItem:hover {
  background-color: #fef7ff;
}

.profileLinks div:nth-child(1):hover {
  .profileIcon {
    color: #000;
  }

  p {
    color: #000;
  }
}

.profileLinks div:nth-child(2):hover {
  .profileIcon {
    color: #3548ee;
  }

  p {
    color: #3548ee;
  }
}

.profileIcon {
  font-size: 2rem;
}

@media (max-width: 666px) {
  .title {
    font-size: 1.5rem;
  }

  .title::before {
    left: calc(50% - 200px);
  }

  .title::after {
    right: calc(50% - 200px);
  }

  .title::before,
  .title::after {
    width: 50px;
  }
}

@media (max-width: 466px) {
  .title {
    font-size: 1rem;
  }

  .title::before {
    left: calc(50% - 150px);
  }

  .title::after {
    right: calc(50% - 150px);
  }
}
