.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    padding: 20%;
}

.fruitsView,
.carDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #fff;
    padding: 40px 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
}

.addFruitForm {
    display: flex;
    gap: 10px;
}

.fruitInput {
    width: 100%;
}

.addButton {
    font-size: 1.5rem;
    width: 200px;
    height: 50px;
    background-color: hsl(0, 0%, 13%);
    color: hsl(255, 100%, 97%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton:hover {
    background-color: hsl(255, 45%, 22%);
    color: hsl(255, 100%, 87%);
}

input {
    height: 50px;
    width: 500px;
    padding: 20px;
    border: none;
    border-radius: 5px;
}

.item {
    padding: 20px;
    margin: 0;
    cursor: pointer;
    list-style: none;
    text-align: center;
    transition: all ease 0.3s;
    font-size: 1.5rem;
}

.item:hover {
    color: hsl(255, 100%, 87%);
    border: 2px solid #fff;
    border-radius: 5px;
}

.carDetail {
    color: hsl(255, 100%, 87%);
    padding: 0 5px;
}

.title {
    font-size: 2rem;
    text-decoration: underline;
}