.skills {
  /* min-height: 85vh; */
  margin-bottom: 100px;
}

.skillsSection {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.title {
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  margin: 70px 0;
  letter-spacing: 2px;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background: #ccc;
}

.title::before {
  left: calc(50% - 250px);
}

.title::after {
  right: calc(50% - 250px);
}

.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #868686;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
}

.icon {
  width: 50px;
  filter: grayscale(100%);
  transition: filter ease 0.3s;
}

.skillCard:hover {
  color: var(--skill-color);
  background-color: #f8f9fa;
  transition: background-color ease 0.3s;
  .icon {
    filter: grayscale(0%);
    transform: translateY(-4px);
    transition: transform ease 0.3s;
    scale: 1.05;
  }

  .skillName {
    transform: translateY(1px);
    scale: 1.05;
    transition: transform ease 0.3s;
  }
}

.skillLogo {
  font-size: 40px;
}

.skillName {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

.gradient .skillName {
  background: var(--skill-bg);
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 666px) {
  .title {
    font-size: 1.5rem;
  }

  .title::before {
    left: calc(50% - 200px);
  }

  .title::after {
    right: calc(50% - 200px);
  }

  .title::before,
  .title::after {
    width: 50px;
  }
}

@media (max-width: 466px) {
  .title {
    font-size: 1rem;
  }

  .title::before {
    left: calc(50% - 150px);
  }

  .title::after {
    right: calc(50% - 150px);
  }
}