.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  /* background-image: url("./assets/me.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.homeContent {
  padding: 60px;
}

.home h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.home h1 {
  font-size: 10rem;
  margin-bottom: 10px;
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.home h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    height: auto;
    padding: 50px 0;
  }

  .home h1 {
    font-size: 6rem;
  }

  .home h2 {
    font-size: 2rem;
  }

  .home h4 {
    font-size: 1.2rem;
  }

  .homeContent {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .home h1 {
    font-size: 4rem;
  }

  .home h2 {
    font-size: 1.5rem;
  }

  .home h4 {
    font-size: 1rem;
  }

  .homeContent {
    padding: 20px;
  }
}